<header>
  <div class="navbar-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 28px;" class="fas fa-shipping-fast">&nbsp; </i>

        <strong style="font-size: 20px;">EComm</strong>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="search products">


        <span class="fas fa-search search-icon"></span>
      </div>



      <button routerLink="cart" style=" color:rgb(226, 43, 98);" class="btn btn-warning">
        <i style="font-size: 15px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </button>

    </div>


  </div>


</header>
